/*

Basic layout and styles. For production, would probably want to use both Flex and Grid for layout

*/
:root {
    --app-container: #f3f6fd;
    --main-color: #1f1c2e;
    --secondary-color: #4a4a4a;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2;
    --message-btn: #fff;
}

.dark:root {
    --app-container: #1f1d2b;
    --app-container: #111827;
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, .8);
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, .8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, .1);
    --star: #ffd92c;
    --light-font: rgba(255, 255, 255, .8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
}

body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.4;
    margin: 0 auto;
    padding: 1em;
}

p {
    color: var(--secondary-color);
}
h2 {
    font-size: 1.4rem;
    margin-top: .5em;
    margin-bottom: .2em;
    line-height: 1;
    color: var(--main-color);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.cards>* {
    flex: 0 1 25em;
}

.card {
    margin: .75em;
    padding: .75em;
    border-radius: 3px;
    border: 2px var(--message-box-border) solid;
    border-radius: .6em;
    background-color: var(--projects-section);
}

img {
    width: 100%;
    height: 200px;
}

/* Start of moving the image above the heading */

.reorder {
    display: flex;
    flex-direction: column;
}

.reorder img {
    max-width: 100%;
    order: -1;
}

/* End of moving the image above the heading */

.card>* a,
.card>.cta {
    display: block;
}

.card h2>a {
    text-decoration: none;
    color: inherit;
}

.linkify:hover {
    cursor: pointer;
    background-color: var(--message-box-hover);
    box-shadow: 0 0 0 3px var(--message-box-border);
}

.cards .isfocused {
    outline: 0;
}

.isfocused a:focus {
    outline: none;
}

.card .cta {
    text-decoration: underline;
    font-weight: bold;
}